<!-- Specifies the book edit form, called when "Edit" is clicked next to a book -->
<h1>Edit Book</h1>

<!-- Show the form from _form.html.erb -->
<%= render 'form' %>

<!-- Add a "Cancel" button to go back to the index without editing the book -->
<%= link_to 'Cancel', books_path %>
